@media screen and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  color: var(--icon-gray-color);
  transition: color var(--transition-dur-n-fuc), border-color var(--transition-dur-n-fuc);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
