:root {
    --accent-color: #2196f3;
    --head-color: #212121;
    --text-color: #757575;
    --white-color: #ffffff;
    --white-alfa-color: rgba(255, 255, 255, 0.6);
    --ash-color: #f5f4fa;
    --main-btn-hover: #188ce8;
    --hero-background-color: #2f303a;
    --border-color: #eeeeee;
    --header-border: #ececec;
    --icon-gray-color: #afb1b8;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --transition-dur-n-fuc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --icon-btn-border: rgba(0, 0, 0, 0.1);
    --card-overlay: rgba(33, 150, 243, 0.9);
    --work-card-overlay: rgba(47, 48, 58, 0.8);
    --modal-input-border: rgba(33, 33, 33, 0.2);
    --modal-placeholder: rgba(117, 117, 117, 0.5);
    --modal-submit-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --footer-form-border: rgba(255, 255, 255, 0.3);
    --footer-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }